name: Node.js CI

on:
  push:
    branches:
      - main
      - beta

permissions:
  contents: write # To push tags and releases
  issues: write # To comment on released issues
  pull-requests: write # To comment on released PRs
  id-token: write # Required for npm OIDC publishing

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Important: fetch all history for tags
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --pure-lockfile
      - run: yarn audit
      - run: yarn build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24" # Recommended LTS version
          registry-url: "https://registry.npmjs.org"
      - name: Install deps
        run: yarn install --pure-lockfile
      - name: build
        run: yarn build
      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
